@font-face {
	font-family: "fallback-inter";
	ascent-override: 90.20%;
	descent-override: 22.48%;
	line-gap-override: 0.00%;
	size-adjust: 107.40%;
	src: local("Avenir"), local("Arial");
}

:root {
	--fallback-fonts: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--font-stack: 'Inter', fallback-inter, var(--fallback-fonts);
}

@supports (font-variation-settings: normal) {
	:root {
		--font-stack: 'Inter var', fallback-inter, var(--fallback-fonts);
	}
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	max-width: 100%;
	font-family: var(--font-stack);
	font-size: 18px;
	line-height: 1.5;
	background-color: #f8f8f8;
	color: #222;
}

main {
	width: 100%;
	margin: 0 auto;
	max-width: 60rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-stack);
	margin: 1rem 0;
	font-weight: 600;
}

a {
	color: #000;
}

a:visited {
	color: #000;
}

pre {
	border: none;
}

code {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	color: navy;
}

kbd {
	display: inline-block;
	min-width: 0.75rem;
	margin: 0 0.2rem;
	padding: 0.2rem 0.3rem 0.1rem;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 0.25rem;
	font-size: 0.8rem;
	line-height: 1;
	color: #333;
	background-color: #eee;
	text-shadow: 0 1px 0 #fff;
}

.hidden {
	display: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #151515;
		color: #ccc;
	}

	a {
		color: #fff;
	}

	a:visited {
		color: #fff;
	}

	a:hover {
		color: #fff;
	}

	code {
		color: aliceblue;
	}
}
