body {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -.04em;
}

/* grid layout help: https://ryanmulligan.dev/blog/layout-breakouts/ */
body > * {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --section: min(var(--section-width), 100% - var(--gap));

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [section-start] var(--section) [section-end]
    var(--full) [full-end];
}
body > *.narrow { /* for narrow content */
  width: var(--section-width);
  margin: 0 auto;
}
body > * > * {
  grid-column: section-start / section-end;
}
body > * > .full {
  grid-column: full-start / full-end;
}

body a {
  color: var(--link-color);
  text-decoration-color: var(--accent-color);
}

h1, h2, h3, h4 {
  font-family: var(--font-family-header);
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}
h1 { font-size: 1.6rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.0rem; }

form {
  display: flex;
  flex-direction: column;
}
form > label {
  margin-bottom: 0.5rem;
}
form > input,
form > textarea,
form > select {
  margin-bottom: 1rem
}
form label {
  color: var(--label-color);
}
form input,
form textarea,
form select {
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
form input::placeholder,
form textarea::placeholder,
form select::placeholder {
  color: var(--input-placeholder-color);
}
form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}
button,
form input[type="submit"] {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
script,
style {
  display: none;
}
