@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_public/fonts/SpaceMono-Regular.ttf) format("truetype")
}
@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_public/fonts/SpaceMono-Bold.ttf) format("truetype")
}

:root {
  color-scheme: light dark;

  --font-family-system: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-family-header: var(--font-family-system);
  --font-family: "Space Mono", monospace, var(--font-family-system);
  --section-width: 90ch;
  --article-width: 65ch;

  --link-color: #333;
  --text-color: #333;
  --light-text-color: #666;
  --very-light-text-color: #ccc;
  --background-color: #fff;
  --accent-color: #205ea6;
  --border-color: #ddd;
  --label-color: #626f80;
  --input-color: #333;
  --input-background-color: #f2f2f2;
  --input-placeholder-color: #666;
  --button-background-color: #f2f2f2;
  --button-color: #333;
  --box-shadow: 5px 5px 0 #00000005;
  --box-shadow-vertical: 0 5px 0 #00000005;
  --success-color: #1ea837;
  --danger-color: #d1663d;
  --shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #ccc;
    --text-color: #ccc;
    --light-text-color: #aaa;
    --very-light-text-color: #5b5c5f;
    --background-color: #202124;
    --accent-color: #4385be;
    --border-color: #181818;
    --label-color: #626f80;
    --input-color: #eee;
    --input-background-color: #2b2c2f;
    --input-placeholder-color: #666;
    --button-background-color: #2b2c2f;
    --button-color: #eee;
    --box-shadow: 5px 5px 0 #00000017;
    --box-shadow-vertical: 0 5px 0 #00000017;
    --success-color: #29a03e;
    --danger-color: #d1663d;
    --shadow: rgba(109, 130, 166, 0.25) 0px 1px 1px, rgba(109, 130, 166, 0.13) 0px 0px 1px 1px
  }
}
