<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🏔️</text></svg>" />
  <title>
    <%= it.github.data.user.name %> (@<%= it.github.data.user.login %>)
  </title>
  <link href="/_static/style.css" rel="stylesheet">
</head>

<body class="min-h-screen font-source-sans-pro text-gray-200">
  <div class="flex flex-col h-screen">
    <header class="flex flex-col gap-1 md:mb-12 mb-8 md:mt-14 mt-8 px-5 text-center">
      <h2 class="text-sm text-gray-400">
        @ <span class="uppercase tracking-widest font-bold color-begin-coral">
          <%= it.github.data.user.login %>
        </span>
      </h2>
      <h1 class="text-5xl font-bold text-white">
        <%= it.github.data.user.name %>
      </h1>
      <h2 class="text-lg">Software Developer & General Technologist</h2>
      <h3 class="text-base text-gray-400">Colorado Front Range and all over the Internet.</h3>
    </header>

    <main class="flex flex-col gap-5 mb-16 md:px-0 px-5">
      <figure class="md:w-3/5 md:mx-auto mb-5 bg-gray-400 bg-opacity-40 p-6 rounded">
        <blockquote class="text-2xl italic text-gray-200">
          "I love putting the pieces together. Be it existing parts, services I've built, or
          teaching others how; making things work better for people."
        </blockquote>
        <figcaption class="text-center text-gray-400">-me, fairly recently</figcaption>
      </figure>

      <h2 class="md:hidden text-2xl font-bold text-gray-200">Find me online:</h2>

      <nav class="md:w-4/5 md:mx-auto mb-5 md:text-center">
        <ul class="list-none flex md:flex-row flex-col gap-5">
          <li class="flex-1 text-xl">
            <a href="https://stackoverflow.com/story/tbeseda" class="underline font-semibold color-begin-orange">
              "Developer Story"
            </a>
            <p class="text-sm">CV on a timeline, a professional overview</p>
          </li>
          <li class="flex-1 text-xl">
            <a href="https://github.com/tbeseda" class="underline font-semibold color-begin-orange">
              github.com/tbeseda
            </a>
            <p class="text-sm">Public and open source work</p>
          </li>
          <li class="flex-1 text-xl">
            <a href="https://dev.to/tbeseda" class="underline font-semibold color-begin-orange">
              dev.to/tbeseda
            </a>
            <p class="text-sm">Technical writing, snippets & guides</p>
          </li>
        </ul>
      </nav>

      <h2 class="md:hidden text-2xl font-bold text-gray-200">What I specialize in:</h2>

      <section class="md:w-4/5 md:mx-auto flex flex-wrap">
        <aside class="xl:w-1/4 lg:w-1/2 md:w-full p-5 border-l-2 border-opacity-20">
          <h3 class="text-gray-100 text-xl font-semibold mb-3">System Integration</h3>
          <p class="text-gray-300">
            Connecting the dots with reliable and pliable pipelines. ETL, warehousing, data
            portability, reporting, real-time updates. From one platform to another. Custom or
            off-the-shelf, I make sure orgs have the right information in the right place.
          </p>
        </aside>

        <aside class="xl:w-1/4 lg:w-1/2 md:w-full p-5 border-l-2 border-opacity-20">
          <h3 class="text-gray-100 text-xl font-semibold mb-3">Server-side Javascript</h3>
          <p class="text-gray-300">
            Though I'm a fan of several programming languages, nothing is as prevalent today as
            JS. I jumped on the Node.js train early on and have enjoyed the ever-evolving
            (sometimes chaotic) ecosystem ever since: monolithic Express APIs, serverless
            architecture, Typescript, Deno, et. all.
          </p>
        </aside>

        <aside class="xl:w-1/4 lg:w-1/2 md:w-full p-5 border-l-2 border-opacity-20">
          <h3 class="text-gray-100 text-xl font-semibold mb-3">Technical Writing</h3>
          <p class="text-gray-300">
            Taking complex software systems down to their fundamentals to effectively explain how
            something works and how to use it. Whether it's a guided blog post or technical
            documentation, I like to create reference material to help other developers understand
            a piece of software.
          </p>
        </aside>

        <aside class="xl:w-1/4 lg:w-1/2 md:w-full p-5 border-l-2 border-opacity-20">
          <h3 class="text-gray-100 text-xl font-semibold mb-3">Interactive Applications</h3>
          <p class="text-gray-300">
            It can't all be back-end magic. At the end of the day, humans are why we build things
            and they need to be able to use our software. I enjoy building interactive programs of
            all sizes. From robust customer-facing apps to slim command line interfaces for
            developers.
          </p>
        </aside>
      </section>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
              <div class="h-full text-center">
                <%~ it.github?.data ? includeFile('./partials/github.html', it.github.data) : null %>
              </div>
            </div>

            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
              <div class="h-full text-center">
                <%~ it.letterboxd?.data ? includeFile('./partials/letterboxd.html', it.letterboxd.data) : null %>
              </div>
            </div>

            <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
              <div class="h-full text-center">
                <%~ it.fortnite?.data ? includeFile('./partials/fortnite.html', it.fortnite.data) : null %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="flex-1 flex-grow text-center bg-bottom bg-no-repeat bg-cover pb-44">
      Say hi: <code>tbeseda</code> @ Google's email service.
    </footer>
  </div>
  <script data-goatcounter="https://tbeseda.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>
