<div class="flex-1 md:text-center">
  <h2 class="text-xl">GitHub Contributions</h2>

  <h3 class="tracking-wider text-sm text-gray-400 mb-4">Last 7 days</h3>

  <ul class="text-gray-300 text-left md:w-1/2 mx-auto mb-2">
    <li>
      <span class="text-gray-400">commits:</span>
      <%= it.user.contributionsCollection.totalCommitContributions %>
    </li>
    <li>
      <span class="text-gray-400">issues:</span>
      <%= it.user.contributionsCollection.totalIssueContributions %>
    </li>
    <li>
      <span class="text-gray-400">PRs:</span>
      <%= it.user.contributionsCollection.totalPullRequestContributions %>
    </li>
  </ul>

  <h4 class="text-sm italic text-gray-400">"<%= it.user.status.message %>"</h4>
</div>
