<div class="text-center">
  <img alt="avatar" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block bg-gray-100"
    src="<%= it.user.avatarUrl %>" />
  <p class="mb-2">
    <a href="<%= it.user.url %>" target="_blank" class="underline font-semibold text-begin-orange">
      @<%= it.user.login %>
    </a>
  </p>
  <h2 class="text-gray-400 font-medium title-font tracking-wider text-sm mb-1">
    <%= it.user.company %>
  </h2>
  <div class="grid grid-flow-col auto-cols-auto gap-x-1 justify-center">
    <div class="">
      <%~ it.user.status.emojiHTML %>
    </div>
    <div class="text-gray-300">
      <%= it.user.status.message %>
    </div>
  </div>
</div>
