<img alt="testimonial"
  class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
  src="<%= it.user.avatarUrl %>" />
<p class="">
  <a href="<%= it.github?.data.user.url || 'https://github.com/tbeseda' %>" target="_blank"
    class="underline font-semibold color-begin-orange">
    @<%= it.user.login %>
  </a>
</p>
<h2 class="text-gray-400 font-medium title-font tracking-wider text-sm">
  <%= it.user.company %>
</h2>
<% /*console.log(it.user)*/ %>
