<!-- Three -->
<section id="{{ .section.section_id }}" class="wrapper {{ .section.background_style }} special">
    <header class="major">
        <h2>{{ replace .section.title "\n" "<br />" | safeHTML }}</h2>
        {{ partial "markdownify-block" .section.subtitle }}
    </header>
    {{ if .section.actions }}
        <ul class="actions special">
            {{ range $action := .section.actions }}
                <li><a href="{{ if strings.HasPrefix $action.url "#" }}{{ $action.url }}{{ else }}{{ relref $.page $action.url | relURL }}{{ end }}" class="button{{ if $action.is_primary }} primary{{ end }}{{ if $action.icon }} icon {{ $action.icon }}{{ end }}{{ if $action.is_scrolly }} scrolly{{ end }}">{{ $action.label }}</a></li>
            {{ end }}
        </ul>
    {{ end }}
</section>
