<!-- Two -->
<section id="{{ .section.section_id }}" class="wrapper">
    <div class="inner alt">
        {{ if .section.spotlights }}
            {{ range $spotlight := .section.spotlights }}
                <section class="spotlight">
                    {{ if $spotlight.image }}
                        <div class="image"><img src="{{ $spotlight.image | relURL }}" alt="" /></div>
                    {{ end }}
                    <div class="content">
                        <h3>{{ $spotlight.title }}</h3>
                        {{ partial "markdownify-block" $spotlight.text }}
                    </div>
                </section>
            {{ end }}
        {{ end }}
        {{ if .section.icons }}
            <section class="special">
                <ul class="icons labeled">
                    {{ range $item := .section.icons }}
                        <li><span class="icon {{ $item.icon }}"><span class="label">{{ $item.title }}</span></span></li>
                    {{ end }}
                </ul>
            </section>
        {{ end }}
    </div>
</section>
